---
layout: layouts/main.pug
awards:
- img: grail.png
  url: https://grailawards.gr/submission/207
  title: "Merit in Interior Design"
  subtitle: "The Storyteller, Boutique Hotel"
- img: hotelshow.png
  url: /project/the-storyteller.html
  title: "Best Boutique Style Hotel"
  subtitle: "The Storyteller, Boutique Hotel"
- img: build-architecture-awards.png
  url: https://www.build-review.com/winners/babatchas-design-studio
  title: "Best Emerging Interior Design"
  subtitle: "Greece - 2021"
- img: bigsee-interior-design-award.png
  url: https://bigsee.eu/monsieur-didot-boutique-hotel-athens-greece/
  title: "Category: Hospitality"
  subtitle: "Monsieur Didot, the residence"
- img: hotelshow.png
  url: https://www.hotelshow.gr/gr/design-awards/participation/226
  title: "Best Boutique Style Hotel"
  subtitle: "Monsieur Didot, the residence"
- img: archello.png
  url: https://archello.com/project/private-residence-in-kolonaki
  title: "Best Projects of 2021"
  subtitle: "Private residence in Kolonaki"
---

main.main
  .intro
    img(class="intro-logo" src='/img/logo-sm.png')
    .hr.hr-bottom(style="width:150px")
    .awards
      each award in awards
        a.award(href=award.url target='_blank')
          .logo
            img(src='/img/awards/'+award.img alt='')
          .title !{award.title}
          .subtitle !{award.subtitle}
