---
layout: layouts/main.pug
---

.content
  section#about.section.pb-0
    .container-fluid
      .row
        .col-md-8.col-md-offset-2
          img(
            class="img-responsive"
            style="max-width: 60%;margin:0 auto 4rem; border-radius: 0;"
            src="/img/about.jpg"
          )
          .about-entry
            each d in descriptions
              p #{d}
