{{>_start page="contact"}}

<div class="content">
    <section id="contact" style="padding-top:7.1em;" class="contacts">

        <div class="container-fluid">
            <div class="row">
                <header class="text-center col-md-8 col-md-offset-2">
                    <h2 class="section-title-2">babatchas.</h2>
                </header>
            </div>
        </div>
        <section class="section bg-light">
            <div class="container-fluid">
                <div class="row row-base">
                    <div class="col-md-4 col-base address-item address-fl-item">
                        <i class="icon ion-ios-email-outline"></i>
                        <div class="address-title">info@babatchas.com</div>
                    </div>
                    <div class="col-md-4 col-base address-item address-fl-item">
                        <i class="icon ion-iphone"></i>
                        <div class="address-title">+30 6979 28 33 63</div>
                        <div class="address-title">nefeli@babatchas.com</div>
                    </div>
                    <div class="col-md-4 col-base address-item address-fl-item">
                        <i class="icon ion-iphone"></i>
                        <div class="address-title">+30 6944 44 33 47</div>
                        <div class="address-title">chrysi@babatchas.com</div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <section class="section">
        <div class="container-fluid">
            <form action="https://formspree.io/f/info@babatchas.com" method="POST">
                <div class="col-sm-6 form-group">
                    <input type="text" name="name" placeholder="Name">
                </div>
                <div class="col-sm-6 form-group">
                    <input type="email" name="email" required placeholder="Email *">
                </div>
                <div class="col-sm-12 form-group">
                    <textarea rows="3" name="message" placeholder="Message"></textarea>
                </div>
                <div class="text-right">
                    <input type="submit" class="btn btn-dark" value="Send">
                </div>
            </form>
        </div>
    </section>
</div>
{{_end}}