{{>_start page="index"}}
<main class="main main-full">
    <div class="container-fluid">
        <div class="opener">
            <div class="hr hr-top"></div>
            <img src="/img/logo.png">
            <div class="hr hr-bottom"></div>
        </div>
    </div>
</main>
{{>_end}}