{{>_start}}


<main class="main main-full">
    <div class="container-fluid">
        <div class="opener">
            <div class="hr hr-top"></div>
            <h1><i>Virgo</i> services</h1>
            <div class="hr hr-bottom"></div>
        </div>
    </div>
    <div class="mouse-helper mouse2">
        <span>Scroll Down</span>
        <i class="icon ion-mouse"></i>
    </div>
</main>
<div class="content">

    <section id="services" class="features section bg-light">
        <div class="container-fluid">
            <div class="row-base">
                <div class="col-base col-feature col-md-6 col-lg-4">
                    <i class="icon ion-social-windows-outline"></i>
                    <h4>Web design</h4>
                    <p>Ever wondered how some graphic designers always manage to produce beautiful looking designs for
                        their brochures, website designs.</p>
                </div>
                <div class="col-base col-feature col-md-6 col-lg-4">
                    <i class="icon ion-ios-gear-outline"></i>
                    <h4>Media</h4>
                    <p>Ever wondered how some graphic designers always manage to produce beautiful looking designs for
                        their brochures, website designs
                        logo designs handful of more important things.</p>
                </div>
                <div class="clearfix visible-md"></div>
                <div class="col-base col-feature col-md-6 col-lg-4">
                    <i class="icon ion-social-buffer-outline"></i>
                    <h4>Video prod.</h4>
                    <p>Ever wondered how some graphic designers always manage to produce beautiful looking designs for
                        their brochures, website designs.</p>
                </div>
                <div class="clearfix visible-lg"></div>
                <div class="col-base col-feature col-md-6 col-lg-4">
                    <i class="icon ion-social-chrome-outline"></i>
                    <h4>Adv. &amp; PR</h4>
                    <p>Ever wondered how some graphic designers always manage to produce beautiful looking designs for
                        their brochures, website designs.</p>
                </div>
                <div class="clearfix visible-md"></div>
                <div class="col-base col-feature col-md-6 col-lg-4">
                    <i class="icon ion-android-bulb"></i>
                    <h4>Development</h4>
                    <p>Ever wondered how some graphic designers always manage to produce beautiful looking designs for
                        their brochures, website designs.</p>
                </div>
                <div class="col-base col-feature col-md-6 col-lg-4">
                    <i class="icon ion-ios-pie-outline"></i>
                    <h4>Strategy</h4>
                    <p>Ever wondered how some graphic designers always manage to produce beautiful looking designs for
                        their brochures, website designs.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container-fluid">
            <form class="js-ajax-form" novalidate="novalidate">
                <div class="col-sm-6 form-group">
                    <input type="text" name="name" placeholder="Name">
                </div>
                <div class="col-sm-6 form-group">
                    <input type="email" name="email" required="" placeholder="Email *">
                </div>
                <div class="col-sm-12 form-group">
                    <textarea rows="3" name="message" placeholder="Message"></textarea>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-dark">Submit</button>
                </div>
            </form>
        </div>
    </section>

    <footer id="footer" class="footer footer-2 bg-light">
        <div class="container-fluid">
            <div class="row-base row">
                <div class="brand-info col-base col-md-6 col-lg-4">
                    <a href="#top" class="brand js-target-scroll">
                        Babatchas
                    </a>
                    <p>We create web products for the help and growth of your business.</p>
                </div>
                <div class="col-base col-md-6 col-lg-2">
                    <ul class="nav-bottom">
                        <li><a href="">Home</a></li>
                        <li><a href="">Features</a></li>
                        <li><a href="">Pages</a></li>
                        <li><a href="">Portfolio</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Contacts</a></li>
                    </ul>
                </div>
                <div class="col-contacts col-base col-md-6 col-lg-3">
                    <a href="tel:88005553535" class="phone">+8 800 555 35 35</a><br>
                    <a href="mailto:info@Babatchascom" class="email">info@Babatchascom</a>
                </div>
                <div class="col-subscribe col-base col-md-6 col-lg-3">
                    <div class="subscribe-title">Subscribe to our newsletter</div>
                    <form class="subscribe-form js-subscribe-form" novalidate="true">
                        <div class="input-group">
                            <input id="mc-email" type="email" class="input-round form-control" placeholder="Email"
                                name="EMAIL">
                            <span class="input-group-btn">
                                <button class="btn btn-dark" type="submit"><span class="arrow-right"></span></button>
                            </span>
                        </div>
                        <label class="mc-label" for="mc-email" id="mc-notification"></label>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container-fluid">
                <div class="copyrights">
                    © Copyright 2016 Babatchas All Rights Reserved
                </div>
                <ul class="social-list">
                    <li><a href="" class="fa fa-facebook"></a></li>
                    <li><a href="" class="fa fa-twitter"></a></li>
                    <li><a href="" class="fa fa-linkedin"></a></li>
                    <li><a href="" class="fa fa-instagram"></a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>

<div id="request" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" data-dismiss="modal" aria-label="Close">×</span>
                <h2 class="modal-title">Get start</h2>
                <p class="modal-info">Leave your contacts and our managers<br> will contact you soon.</p>
            </div>
            <div class="modal-body">
                <form class="form-request js-ajax-form" novalidate="novalidate">
                    <div class="form-group">
                        <input type="text" name="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" required="" placeholder="Email *">
                    </div>
                    <div class="form-group">
                        <textarea rows="3" name="message" placeholder="Message"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-block">Get start</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="success" class="modal modal-message fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></span>
                <h2 class="modal-title">Thank you</h2>
                <p class="modal-subtitle">Your message is successfully sent...</p>
            </div>
        </div>
    </div>
</div>

<div id="error" class="modal modal-message fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></span>
                <h2 class="modal-title">Sorry</h2>
                <p class="modal-subtitle"> Something went wrong </p>
            </div>
        </div>
    </div>
</div>

{{_end}}