{{>_start page="studio"}}
<div class="content">
    <section id="about" class="section pb-0">
        <div class="container-fluid">
            <div class="row">
                <header class="text-center col-md-8 col-md-offset-2">
                    <div class="about-entry text-center">
                        {{#each description}}
                        <p>{{this}}</p>
                        {{/each}}
                    </div>
                </header>
            </div>
        </div>
    </section>
</div>
{{>_end}}