{{>_start page="studio"}}
<div class="content">
    <section id="about" class="section pb-0">
        <div class="container-fluid">
            <div class="row">
                <header class="text-center col-md-8 col-md-offset-2">
                    <div class="about-entry text-center">
                        <p>In efforts to expand our horizons, we welcome every investment-minded individual to join us
                            in the Condotel Investment Opportunity.</p>
                        <p>
                            You can also freely advertise with us, exchange links with us, or be a member of our webring
                            when you register. When you get to be a part of our webring, you get free exposure/traffic
                            as visitors click on the other member sites of the webring. You can advertise your
                            properties for sale or lease with us..</p>
                    </div>
                </header>
            </div>
        </div>
    </section>
</div>
{{>_end}}