<!doctype html>
<html lang='en'>

<head>
  <meta charset='utf-8' />
  <meta content='IE=edge' http-equiv='X-UA-Compatible' />
  <meta content='width=device-width, initial-scale=1' name='viewport' />
  <meta content='' name='author' />
  <meta name='robots' content='index,follow'>
  <title>babatchas.</title>
  <link href="https://fonts.googleapis.com/css?family=Comfortaa:300|Open+Sans:800&display=swap&subset=greek"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/fonts.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/freelance.css">
  <link rel="stylesheet" type="text/css" href="/css/freelance-light.css">

  {{#if og}}
  <meta property="og:title" content="{{title}} - BaBatchasDesignStudio" />
  <meta property="og:description" content="{{description.[0]}}" />
  <meta property="og:image" content="{{data.globals.domain}}/img/projects/{{key}}/main.jpg" />
  {{/if}}
</head>

<body>

  {{>menu}}