<!doctype html>
<html lang='en'>

<head>
  <meta charset='utf-8' />
  <meta content='IE=edge' http-equiv='X-UA-Compatible' />
  <meta content='width=device-width, initial-scale=1' name='viewport' />
  <meta content='Babatchas' name='author' />
  <meta name='robots' content='index,follow'>
  <title>Babatchas</title>
  <link rel='stylesheet' type='text/css' href='/css/style.min.css'>
</head>

<body class="bg-dark text-white text-center p-5">