<div class="container">
    {{#each photos}}
    <img class="lazy img-responsive center-block" style="margin-bottom:2rem" src="/img/placeholder.jpg"
        data-src="/img/projects/{{../name}}/{{this}}">
    {{/each}}
</div>