<div class="container" style="margin-bottom: 2rem;">
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            {{#each photos}}
            <div class="item {{equal @index 1 "active"}}">
                <img src="/img/projects/monsieur-didot/{{this}}">
            </div>
            {{/each}}
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
            <span class="glyphicon fa glyphicon-chevron-left fa-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
            <span class="glyphicon fa glyphicon-chevron-right fa-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>