<div class="container">
    {{#each photos}}
    <div class="row" style="margin-bottom:2rem">
        {{#each single}}
        <div class="col-md-12">
            <img class="img-responsive center-block" src="/img/projects/{{../../name}}/{{this}}">
        </div>
        {{/each}}
        {{#each double}}
        <div class="col-md-6">
            <img class="img-responsive center-block" src="/img/projects/{{../../name}}/{{this}}">
        </div>
        {{/each}}
    </div>
    {{/each}}
</div>