{{>_start}}
<main class="main">
    <div class="intro">
        <div class="hidden-xs hidden-sm">
            <div class="hr hr-top"></div>
            <img class="logo img-responsive" src="/img/logo.png">
            <div class="hr hr-bottom"></div>
        </div>
        <div class="awards">
            <div class="row">
                {{#each awards}}
                <div class="col-md-6">
                    <a href="{{url}}" target="_blank" class="award">
                        <img src="/img/awards/{{img}}" alt="">
                        <span>{{{label}}}</span>
                    </a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</main>
{{>_end}}