{{>_start}}
<main class="main main-full">
    <div class="container-fluid">
        <div class="hr hr-top"></div>
        <img class="img-responsive" src="/img/logo.png">
        <div class="hr hr-bottom"></div>
        <div class="awards">
            <div class="row">
                {{#each awards}}
                <div class="col">
                    <a href="{{url}}" target="_blank" class="award">
                        <img src="/img/awards/{{img}}" alt="">
                        <span>{{{label}}}</span>
                    </a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</main>
{{>_end}}